{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

<h2>about</h2>
<a href="freshservice">
    <a href="freshservice.html" target="_blank"><img src="photo\freshservice.webp" alt=" applications freshservice">
    </a>
   
<p>3333Avec Freshservice, profitez d'automatisations puissantes, d'une plateforme intégrée et d'un déploiement rapide
    pour enchanter vos clients tout en améliorant votre efficacité et en obtenant un meilleur retour sur
    investissement. Logiciel primé et recommandé par de nombreux analystes, Freshservice est une solution intuitive
    et intelligente de gestion des services informatiques qui vous permet de moderniser votre ITSM8888.</p>
</html>
{% endblock %}
