{% extends 'base.html.twig' %}

{% block title %}Hello ZendeskController!{% endblock %}

{% block body %}

<h2>Zendesk</h2>
<a href="zendesk">
    <a href="zendesk.html" target="_blank"><img src="img\zendesk.webp" alt=" applications zendesk">
    </a>
<p>Zendesk est un système de gestion des tickets intégré qui vous aide à assister vos clients du mieux possible.
    Efficace et facile à utiliser pour les agents, Zendesk se veut souple pour répondre aux besoins de votre
    entreprise selon son évolution. En plus de l'assistance omnicanale, ce logiciel ticketing vous propose
    l'organisation, le marquage et le routage des tickets, ainsi que des outils de suivi et d'analyse, des
    intégrations, et une gestion de base de </p>
{% endblock %}
