{% extends 'base.html.twig' %}

{% block title %}Hello FreshserviceController!{% endblock %}

{% block body %}
<h2>Freshservice</h2>
<a href="freshservice">
    <a href="freshservice.html" target="_blank"><img src="photo\freshservice.webp" alt=" applications freshservice">
    </a>
   
<p>Avec Freshservice, profitez d'automatisations puissantes, d'une plateforme intégrée et d'un déploiement rapide
    pour enchanter vos clients tout en améliorant votre efficacité et en obtenant un meilleur retour sur
    investissement. Logiciel primé et recommandé par de nombreux analystes, Freshservice est une solution intuitive
    et intelligente de gestion des services informatiques qui vous permet de moderniser votre ITSM.</p>
</html>
{% endblock %}
