{% extends 'base.html.twig' %}

{% block title %}Hello MondayController!{% endblock %}

{% block body %}
<a href="monday">
    <a href="monday.html" target="_blank"><img src="photo\monday.webp" alt=" applications monday">
    </a>
 
<p>Monday.com est un outil flexible de gestion de projets simples ou complexes et qui se révèle parfait pour le
    travail d'équipe. Avec Monday.com, planifiez, gérez et effectuez un suivi facile, obtenez une vue d'ensemble de
    votre travail, et mettez vos tâches en pilote automatique ; tout cela en un même endroit.</p>
</html>
{% endblock %}
