{% extends 'base.html.twig' %}

{% block title %}Hello LiveagentController!{% endblock %}

{% block body %}
<h2>LiveAgent</h2>
<a href="liveagent">
    <a href="top 9">
        <a href="liveagent.html" target="_blank"><img src="img\liveagent.webp" alt=" applications liveagent">
    </a>

<p>LiveAgent vous aide à offrir une assistance personnalisée, rapide et pertinente à vos clients. Avec ce logiciel
    de ticketing, profitez d'une boîte de réception universelle et de fonctionnalités aussi intéressantes que le
    flux de tickets hybrides, la division et fusion des tickets, la détection des collisions entre agents, les chats
    et appel internes ou encore d'un CRM intégré pour des champs CRM personnalisés.</p>



    </html>
{% endblock %}
