{% extends 'base.html.twig' %}

{% block title %}Hello CrispController!{% endblock %}

{% block body %}
<h2>Crisp</h2>
<a href="crisp">
    <a href="crisp.html" target="_blank"><img src="img\crisp.webp" alt=" applications crisp">
    </a>
   
<p>Crisp se veut bien plus qu'un outil de gestion des clients. Utilisez son logiciel CRM pour unifier vos données clients, 
    mais aussi pour pouvoir vous focaliser sur vos ventes en automatisant certaines tâches répétitives, pour obtenir plus 
    de prospects, analyser les interactions de vos utilisateurs, profiter d'une expérience conversationnelle fluide ou 
    encore faire décoller vos processus de vente</p>
<h2>Monday.com</h2>
{% endblock %}
