{% extends 'base.html.twig' %}

{% block title %}Hello ClarilogController!{% endblock %}

{% block body %}
<h2>Clarilog</h2>
    <a href="clarilog">
        <a href="clarilog.html" target="_blank"><img src="photo\clarilog.webp" alt=" applications clarilog">
        </a>
       
    <p>Logiciel de gestion de parc informatique et HelpDesk clé en main, Clarilog se veut votre outil de pilotage
        quotidien pour gérer tout votre service informatique et pour centraliser et partager des données en seulement
        quelques clics, dans la sécurité la plus totale. Clarilog vous propose des fonctionnalités telles que
        l'inventaire réseau, les tableaux de bord, la gestion des biens connectés ou non, la gestion des stocks et du
        cycle de vie des biens, les contrats, licences et prestataires ou encore les champs personnalisés.</p>

{% endblock %}
