{% extends 'base.html.twig' %}

{% block title %}Hello ZohodeskController!{% endblock %}

{% block body %}
<h2>Zohodesk</h2>
<a href="zohodesk">
    <a href="zohodesk.html" target="_blank"><img src="img\zohodesk.webp" alt=" applications zohodesk">
    </a>

<p>Le logiciel ticketing Zohodesk a su gagner la confiance de plus de 50000 entreprises à travers le monde. Zohodesk
    propose des fonctionnalités de support technique comme la communication omnicanale, l'automatisation des
    workflows, le libre-service ou encore l'Intelligence Artificielle. Avec Zohodesk, vous pouvez fidéliser vos
    clients et leur offrir une satisfaction entière tout en améliorant la productivité de vos agents.</p>

</html>
{% endblock %}
