{% extends 'base.html.twig' %}

{% block title %}Hello FreshdeskController!{% endblock %}

{% block body %}

<h2>FreshDesk</h2>
<a href="freshdesk">
    <a href="freshdesk.html" target="_blank"><img src="photo\freshdesk.webp" alt=" applications freshdesk">
    </a>
<p>Avec FreshDesk, vous pouvez offrir à vos clients un service omnicanal de la meilleure qualité pour leur plus
    grande satisfaction. FreshDesk est une solution de support client complète et rapide à rentabiliser qui vous
    permet de communiquer avec vos clients sur le canal de leur choix, de répondre facilement aux appels, ou encore
    d'offrir une assistance à distance sur le terrain fiable.</p>

</html>
{% endblock %}
