{% extends 'base.html.twig' %}

{% block title %}Hello AteraController!{% endblock %}

{% block body %}
<h2>Atera</h2>
<a href="atera">
    <a href="atera.html" target="_blank"><img src="img\Atera.webp" alt=" applications atera">
    </a>
<p>Atera se destine aux secteurs d'activité MSP et se présente comme un logiciel simple et complet. Il s'agit d'un
    logiciel RMM, PSA et Accès à distance qui vous permet notamment d'apporter une assistance informatique de
    qualité à vos clients, instantanément et depuis n'importe quel emplacement. Atera rassemble des fonctionnalités
    aussi intéressantes que la surveillance et gestion à distance, l'automatisation des services professionnels, la
    maintenance à distance avancée, le suivi des actifs et stock, les intégrations, la découverte de réseau ou
    encore la gestion des correctifs.</p>
{% endblock %}
